@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.No-notes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  font-family: "Inter", sans-serif;
}

.MainScreen{
  position: relative;
}